header{
    position: absolute;
    z-index: 2;
    grid-area: header;
    > .cover{
        width: 100vw;
        max-width: 2000px;
        min-width: 400px;
        margin: auto;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
    @media (max-width:1100px){
        .cover{
            height: 400px;
        }  
    }
    @media (max-width:576px){
        .cover{
            background-repeat: no-repeat;
            height: 250px;
        }  
    }
}

